html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./snake_bg_portrait.jfif");
  background-color: #592394;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Typography */
h1 {
  text-align: center;
}

h1 span{
  font-style: italic;
  color:#69e34f;
}
/* Layout */
.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction:column;
}

.item {
  text-align: center;
  width: 215px;
  margin: 0 auto;
}

.item-snake {
  width: 408px;
  text-align: center;
  margin: 0 auto;
  position:relative;
}

/* Player settings */
#new-user,
#existing-user {
  background-color: rgba(122, 113, 129, 0.5);
  border-radius: 10px;
  border: 4px solid rgba(122, 113, 129, 0.5);
  padding-bottom: 20px;
}

#player{
  max-width:120px;
}

/* Snake game grid */
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  border: 4px solid #592394;
  border-radius: 10px;
  background-color: rgba(196, 139, 244, 0.8);
  margin: 0 auto;
}

.element {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: #69e34f;
  border-radius: 5px;
}

.snake.snake-head {
  background-color: transparent;
}
.snake.snake-head::before {
  content: "🐲";
}

.flame::before {
  content: "🔥";
  background-color: transparent;
}

#game-over{
  position:absolute;
  top: 30%;
  left: 50%;
  background-color: black;
  padding:30px; 
  border-radius: 10px;
  display:none;
  margin-left: -96px;

}

/* Leaderboard */
#leaderboard {
  background-color: rgba(122, 113, 129, 0.5);
  border-radius: 10px;
  list-style-type: none;
  text-align: left;
  border: 4px solid rgba(122, 113, 129, 0.5);
  padding: 0;
}

#leaderboard li {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

/* Media queries / Responsivity */
@media(min-width:880px){
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }

}
